/*--------------------------------------- Custom Colors -----------------------------------------------*/

:root {
    --navbar: #e07428;
    --body: #f5d497e4;

    --drdwn: black;
    --drdwn-hvr-bg: #bd5307;

    --text: black;
    --text-hvr: white;

    /* Card Custom Colors*/
    --card1: #acacac;
    --card1brdr: #2d2c2cc9;
    --card-txt: #ffffff;

    --card2:#858484;
    --card-txt-2:#111111;

    --input-bg: rgb(174, 174, 174);
    --input-txt: rgb(255, 255, 255);

    --border-1: black;
    
    --btnprmry: darkorange;
    --btnprmry-brdr: #ff2626;

    --btnprmry-hvr: #f96008;
    --btnprmry-brdr-hvr: #f51111;


    --nav-item: black;


    --theme-sun: #ffa500;
    --theme-sun-bg: #9a4500aa;
    --theme-moon: #e1e1e1;
    --theme-moon-bg: none;


    --theme-moon-hover: #c0c0c0;
    --moon-bg-hover: #ffffff61;

    --theme-sun-hover: var(--theme-sun);
    --sun-bg-hover: var(--theme-sun-bg);


    --theme-btn: #ffb05c;

}

:root.dark-mode {
    --navbar: #343434;
    --body: #816969d3;

    --drdwn: #ffffff;
    --drdwn-hvr-bg: #606060;

    --text: rgb(222, 221, 221);
    --text-hvr: rgb(250, 250, 250);

    /* Card Custom Colors */
    --card1: #a9a4a4;
    --card1brdr: #c8c8c8c9;
    --card-txt: #000000;

    --card2: #848282;
    --card-txt-2:#000000;

    --border-1: white;
    --input-bg: rgb(88, 88, 88);
    --input-txt: rgb(255, 255, 255);


    --btnprmry: blue;
    --btnprmry-brdr: #4ea0f8;

    --btnprmry-hvr: #0056b3;
    --btnprmry-brdr-hvr: #004085;
    

    --theme-sun: #c48105;

    --theme-moon: #c0c0c0;


    --theme-sun-bg: none;
    --theme-sun-hover: #ffa500;
    --sun-bg-hover: #9a4500aa;


    --theme-moon-bg: #ffffff61;
    --theme-moon-hover: var(--theme-moon);


    --nav-item: white;

    --theme-btn: #898989;



}

::-webkit-input-placeholder {
    color: var(--input-txt);
    
}

::placeholder {
    color: var(--input-txt);
}


/* -------------------------- Dark And Light Mode Button Switcher --------------------------------*/

#theme-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    color: var(--text-color);

    cursor: pointer;
    padding: 10px;
}



#theme-btn .fa-sun {
    border-radius: 20px;
    padding: 10px;

    margin-left: auto;
    margin-right: auto;
    font-size: 16px;

    color: var(--theme-sun);
    background-color: var(--theme-sun-bg);


}

#theme-btn .fa-moon {
    border-radius: 20px;
    padding: 10px;

    margin-left: auto;
    margin-right: auto;


    color: var(--theme-moon);
    background-color: var(--theme-moon-bg);
}

/* Hover Feature */
#theme-btn .fa-sun:hover {


    color: var(--theme-sun-hover);
    background-color: var(--sun-bg-hover);
}

#theme-btn .fa-moon:hover {


    color: var(--theme-moon-hover);
    background-color: var(--moon-bg-hover);
}







/*------------------------------------------ Card -------------------------------------------*/


.card-txt1
{
    color: var(--card-txt);
}


.card-link{
    color: var(--card-txt);
    font-weight: 500;
    text-decoration: underline;
}
    
.card-txt2{
    color: var(--card-txt-2);
}

.card input {
    background-color: var(--input-bg);
    color: var(--input-txt);
    font-weight: 500;
}

.card input:focus {
    background-color: var(--input-bg);
    color: var(--input-txt);
}

.card h2 {
    margin-bottom: 20px;
}

/*--------------------------------------- Background Colors ------------------------------------------ */

.bg-nvbr {
    background-color: var(--navbar);
}

.bg-body {
    background-color: var(--body);
}


.bg-card {
    background-color: var(--card1);
    border-width: 5px;
    border-style: groove;
    border-color: var(--card1brdr);
    width: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.bg-card-2{
    background-color: var(--card2);
    border-width: 5px;
    border-style: groove;
    border-color: var(--card1brdr);
    width: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.no-transition * {
    transition: none !important;
}

/*---------------------------------------------Fonts---------------------------------------------*/
.rock-salt-regular {
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
    font-size:120%;
  }
  
/*-------------------------------------------- Table ------------------------------------------- */

.table {
    width: 100%;
    /* Ensure table spans full width */
}

.table th,
.table td {
    vertical-align: middle;
    border: 2px solid black
        /* Center align table content vertically */
}

/* Custom table class for inner borders */
.custom-table {
    border: 2px solid black;
    /* Default table border color */
    border-collapse: collapse;
    /* Ensure table borders are collapsed */
    width: 100%;
    /* Ensure table spans full width */
}

/* Targeting table rows for inner borders */
.custom-table tbody tr {
    border-bottom: 2px solid black;
    /* Custom color for inner borders */
}

/* Optional: Adjust padding and alignment */
.custom-table th,
.custom-table td {
    padding: 8px;
    /* Adjust cell padding */
    text-align: center;
    /* Center align text */
    border: 2px solid black;
}

.tbl-brdr1 {
    border-color: var(--border-1);

}

.tbl-item {
    border-color: black;
    border-width: 2px;
    border-style: solid;
}

/*------------------------------------- Navbar and Dropdown --------------------------------------*/

.nav-item a,
.nav-item .nav-brand {
    color: var(--nav-item);
    margin-top: auto;
    margin-bottom: auto;
}

.nav-item a:hover ,
.nav-item .nav-brand:hover
{
    background-color: var(--drdwn-hvr-bg);
    color: var(--text-hvr);
    border-radius: 3px;
}

.navbar-border {
    border-bottom: 2px solid #000;
}

.dropdown-menu {
    background-color: var(--navbar);
}

.dropdown-item a {
    color: var(--text);
}

.dropdown-item:hover {
    background-color: var(--drdwn-hvr-bg);
    color: var(--text-hvr);
}

/*------------------------------------------- --Form ----------------------------------------------*/
form {
    align-content: center;
}

/*---------------------------------------- Images/Icons -------------------------------------------*/
.user-prof {
    margin-bottom: auto;
    font-size: calc(30% + 2vw);
}


.logo {
    height:60px;
}



/*------------------------------------- Container styling ----------------------------------------*/
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.div1 {
    border-radius: 25px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--div1);
}





/*----------------------------------- Alert message styling -------------------------------------------*/

.alert {
    margin-bottom: 20px;
}

.btn-close {
    background-color: None;
    height:fit-content; 
    margin-left: auto;
    border: none;
}

/*----------------------------------- Primary button styling -------------------------------------------*/
.btn-primary {
    background-color: var(--btnprmry);
    border-color: var(--btnprmry-brdr);
    border-width: 3px;
}

.btn-primary:hover {
    background-color: var(--btnprmry-hvr);
    border-color: var(--btnprmry-brdr-hvr);
}

/*--------------------------------------- Notification styling -----------------------------------------*/
.notification {
    padding: 10px;
    background-color: #a1ffb5;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    margin: 5px 0;
    text-align: center;
}

/*----------------------------------------- Password Toggler --------------------------------------------*/
.password-container {
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
    margin-top: 15px;
    font-size: 18px;
}